<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274437904564-2apb3ee52dr831p29140e0t32qqjeo2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274437904564-2apb3ee52dr831p29140e0t32qqjeo2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAALkwioKZvApcBvO0McNlDAT5atiS7JBo</string>
	<key>GCM_SENDER_ID</key>
	<string>274437904564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leat.along</string>
	<key>PROJECT_ID</key>
	<string>along-343911</string>
	<key>STORAGE_BUCKET</key>
	<string>along-343911.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274437904564:ios:43b71e01faadbd8ad55fe1</string>
</dict>
</plist>